rclone sends unescaped semicolons to WebDAV endpoints

<!--

We understand you are having a problem with rclone; we want to help you with that!

**STOP and READ**
**YOUR POST WILL BE REMOVED IF IT IS LOW QUALITY**:
Please show the effort you've put into solving the problem and please be specific.
People are volunteering their time to help! Low effort posts are not likely to get good answers!

If you think you might have found a bug, try to replicate it with the latest beta (or stable).
The update instructions are available at https://rclone.org/commands/rclone_selfupdate/

If you can still replicate it or just got a question then please use the rclone forum:

    https://forum.rclone.org/

for a quick response instead of filing an issue on this repo.

If nothing else helps, then please fill in the info below which helps us help you.

**DO NOT REDACT** any information except passwords/keys/personal info.

You should use 3 backticks to begin and end your paste to make it readable.

Make sure to include a log obtained with '-vv'.

You can also use '-vv --log-file bug.log' and a service such as https://pastebin.com or https://gist.github.com/

Thank you

The Rclone Developers

-->

#### The associated forum post URL from `https://forum.rclone.org`



#### What is the problem you are having with rclone?

Path elements that contain a SEMICOLON  (`;`) are truncated.  The SEMICOLON and any characters after it within a path element are missing. 

#### What is your rclone version (output from `rclone version`)

```console
paul@monkeywrench:~$ rclone version
rclone v1.73.0-beta.9373.28c187b9b
- os/version: debian 12.12 (64 bit)
- os/kernel: 6.1.0-41-amd64 (x86_64)
- os/type: linux
- os/arch: amd64
- go/version: go1.24.4
- go/linking: dynamic
- go/tags: none
paul@monkeywrench:~$ 
```

#### Which OS you are using and how many bits (e.g. Windows 7, 64 bit)

```console
paul@monkeywrench:~$ lsb_release -a
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 12 (bookworm)
Release:        12
Codename:       bookworm
paul@monkeywrench:~$ 
```

#### Which cloud storage system are you using? (e.g. Google Drive)

dCache (`466b32883f`, current tip from `master` branch).

#### The command you were trying to run (e.g. `rclone copy /tmp remote:tmp`)

```console
paul@monkeywrench:~$ rclone copy /bin/bash 'dcache-systemtest:public/my;test'
paul@monkeywrench:~$ rclone ls 'dcache-systemtest:public'
  1265648 my/bash
paul@monkeywrench:~$ 
```

#### A log from the command with the `-vv` flag (e.g. output from `rclone -vv copy /tmp remote:tmp`)

```console
paul@monkeywrench:~$ rclone -vv copy /bin/bash 'dcache-systemtest:public/my;test'
2026/01/07 11:19:06 DEBUG : rclone: Version "v1.73.0-beta.9373.28c187b9b" starting with parameters ["rclone" "-vv" "copy" "/bin/bash" "dcache-systemtest:public/my;test"]
2026/01/07 11:19:06 DEBUG : Creating backend with remote "/bin/bash"
2026/01/07 11:19:06 DEBUG : Using config file from "/home/paul/.config/rclone/rclone.conf"
2026/01/07 11:19:06 DEBUG : fs cache: renaming child cache item "/bin/bash" to be canonical for parent "/bin"
2026/01/07 11:19:06 DEBUG : Creating backend with remote "dcache-systemtest:public/my;test"
2026/01/07 11:19:06 DEBUG : found headers: 
2026/01/07 11:19:06 DEBUG : bash: Need to transfer - File not found at Destination
2026/01/07 11:19:06 DEBUG : bash: Update will use the normal upload strategy (no chunks)
2026/01/07 11:19:06 DEBUG : bash: size = 1265648 OK
2026/01/07 11:19:06 INFO  : bash: Copied (new)
2026/01/07 11:19:06 INFO  : 
Transferred:        1.207 MiB / 1.207 MiB, 100%, 0 B/s, ETA -
Transferred:            1 / 1, 100%
Elapsed time:         0.1s

2026/01/07 11:19:06 DEBUG : 7 go routines active
paul@monkeywrench:~$ 
```

<!--- Please keep the note below for others who read your bug report. -->

#### Additional context and information.

I believe I understand the problem.

rclone is making requests with paths containing unescaped SEMICOLON characters.

dCache (actually Jetty) is interpreting an unescaped SEMICOLON as "scheme-specific or dereference-handler-specific subcomponents within a path segment".  See [Jetty issue 2067](https://github.com/jetty/jetty.project/issues/2067) for a briefly discusses on this.  The issue points to [RFC 3986 §3.3](https://datatracker.ietf.org/doc/html/rfc3986#section-3.3) describing how reserved characters _must_ be escaped if intended to be a literal value.

[RFC 4918 §3](https://datatracker.ietf.org/doc/html/rfc4918#section-3) describes path segments in WebDAV, but defers the definition to RFC 3986 §3.3.

So, it appears that rclone is not conforming with RFC 3986 by expecting the WebDAV server to accept unescaped semicolons (within a path segment) as a literal semicolon character in that path element.  It may by fine for some WebDAV servers, but I suggest that's "works by accident".

In the rclone code, confusion seems to arise from the WebDAV backend [using URLPathEscape](https://github.com/rclone/rclone/blob/5f4e4b1a200708f5f36999a9d289823b742e4fd3/backend/webdav/webdav.go#L426).  The [URLPathEscape function](https://github.com/rclone/rclone/blob/5f4e4b1a200708f5f36999a9d289823b742e4fd3/lib/rest/url.go#L23) uses go's standard URL support (`url.URL`) by calling `String()` function.

If I've understood `String` correctly, this function provides minimal escaping of the URL's path (I think, only `?`).  Reserved characters (such as SEMICOLON) are not escaped.

I believe this issue is actually part of a larger issue, where other reserved characters are not being escaped.  I've confirmed that EQUALS (`=`) also appears unescaped in path segments, despite being a reserved character.

#### How to use GitHub

* Please use the 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to show that you are affected by the same issue.
* Please don't comment if you have no relevant information to add. It's just extra noise for everyone subscribed to this issue.
* Subscribe to receive notifications on status change and new comments.


URL Escaping is the bane of my life :-) All the providers seem to take a different approach!

Try changing rclone to use `rest.URLPathEscapeAll` instead - does that help? That is the rage coded URL escaping function I wrote when I was just fed up with everything to do with URL escaping.

https://github.com/rclone/rclone/blob/5f4e4b1a200708f5f36999a9d289823b742e4fd3/lib/rest/url.go#L29-L32

`rest.URLPathEscapeAll` may be a sledgehammer but it is in the toolkit already and the cost is actually fairly small. So what if we expand a few URLs - that will be nothing compared to the data transferred and the round trip overhead! So if it works, I'm fine with it as a solution.